@use "../../index.scss" as mixin;

// breakpoints for responsive
$breakpoints: (
    'xsmall': 576px,
    'small': 767px,
    'medium': 992px,
    'large': 1200px) !default;

@mixin respond-to($breakpoint) {

    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {

        // Prints a media query based on the value
        @media (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}


.productDetailContainer {
    padding: 5rem 0 !important;
    margin: 5rem 0;


    .imageContainer {
        width: 100%;

        img {
            margin-bottom: 3rem;
            object-fit: contain;
            border-radius: .2rem;
            height: 450px;
            width: 100%;

            @include respond-to('medium') {
                width: 100% !important;
            }
        }
    }

    .detailContainer {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .title {
            font-size: 2.5rem;
            font-weight: 500;
            text-align: start;
            color: gray;

            @include respond-to('medium') {
                text-align: center;
            }
        }

        .description {
            font-size: 1.5rem !important;
            letter-spacing: 1px;
            text-align: start;
            margin: 2rem 0;
            line-height: 1.7;

            @include respond-to('medium') {
                text-align: center;
            }
        }

        .price {
            text-transform: uppercase;
            font-weight: 600;

            @include respond-to('medium') {
                text-align: center;
            }
        }

        .addToCart {
            border: 1px solid rgb(217, 216, 216
            );
        width: 100%;
        padding: 1rem 2rem;
        font-size: 2rem;
        margin: 4rem 0;
        background-color: mixin.$white;
        color: mixin.$primary-color;
    }

    .buttonsArea {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 2rem 0;

        @include respond-to('medium') {
            justify-content: center;
        }

        span {
            font-size: 2rem;
            margin: 0 2rem;
            padding: 0 1.5rem;
            border: 1px solid mixin.$primary-color;

        }

        .increaseDecrease {
            border: none;
            background-color: transparent;
            font-size: 3rem;
            padding: 0;
        }
    }
}

}